{% load static %}
<!doctype html>

<html lang="en">
<head>
    <title>L cp</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="{% static '/css/custom.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 </head>
<body class="d-flex flex-column min-vh-100">
    {% include "questionlist/navbar.html" %} 
    {% include "questionlist/about.html" %}
    <div class="container mb-5 wrapper flex-grow-1">
        {% include "questionlist/breadcrumb.html" %}
        {% block content %}

        {% endblock %}
    </div>
    {% include "questionlist/footer.html" %}
    
	<script src="{% static '/js/chart.js' %}"></script>
    <script src="{% static '/js/chartConf.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>
</html>